
<a href="#/novoUsuario" class="btn btn-primary pull-right">Novo Usuario</a>
<div class="clearfix"></div>
<br>

<div class="alert alert-dismissible" ng-class="alertClass" ng-show="showAlert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{msg.msg}}
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" >
                <td>
                    <a ng-href="#/usuario/{{user.id}}">
                        <span class="glyphicon glyphicon-user"></span>
                        {{user.name}}
                    </a>
                </td>
                <td>{{user.email}}</td>
                <td>
                    <a ng-href="#/usuario/{{user.id}}/tasks" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-tasks"></span>
                    </a>
                    <button ng-click="delete(user)" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>